/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", sans-serif;
    --accent-font: "PressStart2P", fantasy;
    --main-title-font-weight: 715;
    --main-text-font-weight: 410;

    --background-gradient: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

    --bg-color: #fff;
    --border-color: #000;
    --text-color: #000;
    --text-stroke-color: #fff;
    --contour-color: #000;
    --animation-fill-color: #FF0000;
    --button-color: #fff;
    --button-text-color: #fff;

    
    --container-width: clamp(375px, 50vw, 700px);
    --img-width: clamp(371px, 50vw, 696px);
    

}



